/*-------------------------------------------Home Page-----------------------------------------*/
.main-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 75vh;
}
.home-img {
    max-width: 100%;
    margin-top: 2em;
}
.home-p {
    max-width: 1024px;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 1px 1px 5px 0 #969696;
}
.home-random-element {
    display: flex;
}
.home-random-element p{
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 1px 5px 0 #969696;
}
/*-------------------------------------------Admin table-----------------------------------------*/

/*-------------------------------------------FOOTER------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------MEDIA QUERIES----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    .home-random-element {
        flex-flow: row wrap;
    }
}